.footer-container {
  width: auto;
  height: 120px;
  background-color: lightgray;
  .footer-wrapper{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    .footer-logo-img {
      height: 60px;
    }
  }
  
}