.stepper-panel {
  width: 100%;
  margin: 1rem 0;
  h2 {
    font-size: 2rem;
    text-align: start;
    margin-bottom: 2rem;
  }
  .stepper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    .step {
      display: flex;
      align-items: center;
      .circle-container {
        display: inline-block;
        background-color: white;
        border: 1px solid black;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: black;
      }
      .circle-container-checked {
        display: inline-block;
        background-color: black;
        border: 1px solid black;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: white;
        &::after {
          content: "\2714";
        }
      }
      .label-container {
        display: inline-block;
        margin-left: 0.2rem;
      }
    }
    .connect-line {
      flex: 1;
      height: 1px;
      margin: 0 1rem;
      background-color: black;
    }
  }
}
