@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: '#{$i}';
    }
  }
}

.stepper-panel {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid red;
  h2 {
    font-size: 2rem;
    text-align: start;
    margin-bottom: 1rem;
  }
  .stepper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .step {
      display: flex;
      align-items: center;
      .circle-container {
        display: inline-block;
        background-color: black;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: darkgray;
      }
      @include getStepNums(3);
      
      .label-container {
        display: inline-block;
        margin-left: 0.2rem;
      }
    }
    .connect-line {
      flex: 1;
      height: 1px;
      margin: 0 1rem;
      background-color: black;
    }
  }
}